@use 'mixins';

:host {
	@include mixins.flex-column();

	flex: 1;
}

nz-layout nz-layout,
nz-layout:last-child {
	margin: 0;
}

nz-header,
nz-footer {
	color: #fff;
}

nz-content {
	padding: 1rem;
}

nz-footer {
	background-color: #001529;
	text-align: center;
}
